<h4 class="ui center aligned icon header">
  <i class="circular comment icon"></i>
  Say Sommething
</h4>

<div class="ui two column grid">

  <div class="twelve wide column ">
    <div class="ui fluid raised card chatbox">
      <div class="content" id="messages">
        <div class="ui small feed" id="message-container">
          <%= render @messages %>
        </div>
      </div>
      <%= form_for( @message , html: {class: "ui action input"} , url: message_path , method: :post, remote: true) do |f| %>
        <%= f.text_field :body , placeholder: "Enter a message..." %>
        <%= f.button "Send" , class: "ui button", id: "send" %>
      <% end %>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <% @user.each do |user|%>
          <div class="item">
            <%= user.username %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>